pfsd:
  name: pfsd

  replicaCount: 1
  readOnly: false

  image:
    repository: zenko/cloudserver
    tag: 8.1.5
    pullPolicy: IfNotPresent

  service:
    ## Override the generated service name.
    # name: ""

    type: ClusterIP
    port: 80

  ## Enable file syncing. If set to 'true', files will not be synced to ensure
  ## that they are written to disk. Also, it will not be guranteed that page
  ## caches will be released by the Kernel when 'noCache' is 'true'
  noSync: false

  ## Enable Kernel page caching. If set to 'true', page caches will be released
  ## after reading or writing files using posix_fadvise(POSIX_FADV_DONTNEED)
  ## This prevents virtual memory size from increasing proportinally to the files
  ## read or written.
  noCache: true

  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

rclone:
  name: rclone

  image:
    repository: zenko/rclone
    tag: 1.45
    pullPolicy: IfNotPresent

  suspend: false
  schedule: "0 */12 * * *"
  successfulJobsHistory: 1

  remote:
    credentials:
      ## Specify an existing secret to get credentials from.
      # existingSercret: ""

      ## Otherwise use the following credentials.
      accessKey: my-access-key
      secretKey: my-secret-key

    endpoint: http://zenko-cloudserver
    region: mynfs
    bucket: newbucket

  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

persistentVolume:
  enabled: false
  # Specifiy a existing storage class to use
  # storageClass:
  volumeConfig:
    ## Example NFS config
    # nfs:
    #   server: 10.100.1.42
    #   path: /data
    #   readOnly: false
    # mountOptions:
    # - hard
    # - nfsvers=4.1
  accessModes:
    - ReadWriteMany
  size: 1Gi
