{ "extends": "scality",
  "parser": "babel-eslint",
  "rules": {
    "prefer-spread" : "off",
    "no-bitwise" : "off",
    "class-methods-use-this" : "off",
    "global-require" : "off",
    "no-param-reassign" : "off",
    "no-loop-func" : "off",
    "padded-blocks" : "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "camelcase": ["error", {"properties": "never"}]
  },
  "ignorePatterns": ["backbeat/**/*", "node_modules/**/*"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["/tests/zenko_tests/node_tests/node_modules", "node_modules"]
      }
    }
  },
  "globals": {
    "cy": true,
    "Cypress": true,
    "document": true
  }
}