{{- if .Values.blobserver.ingress.enabled -}}
{{- $root := . -}}
{{ $fullName := include "blobserver.fullname" . -}}
{{- $servicePort := .Values.blobserver.service.port -}}
{{- $ingressPath := .Values.blobserver.ingress.path -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    app: {{ template "blobserver.name" . }}
    chart: {{ template "opal.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
{{- with .Values.blobserver.ingress.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
spec:
{{- if .Values.blobserver.ingress.tls }}
  tls:
  {{- range .Values.blobserver.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
  {{- range default ((list .Values.blobserver.endpoint) .Values.blobserver.ingress.hosts) }}
  {{- if $root.Values.blobserver.enable_dns_storage_accounts }}
    - host: '*.{{ . }}'
      http:
        paths:
          - path: {{ $ingressPath }}
            backend:
              serviceName: {{ $fullName }}
              servicePort: http
  {{- end }}
    - host: {{ . }}
      http:
        paths:
          - path: {{ $ingressPath }}
            backend:
              serviceName: {{ $fullName }}
              servicePort: http
  {{- end }}
{{- end }}
