*.pyc
*~

.env
gcp_key.json
.eggs/
.pytest_cache/
.tox/
**/__pycache__/
build/
dist/
venv/
zenko_e2e.egg-info/
.secrets.env
.local.env
node_modules/
.local.make
*.tsbuildinfo
**/.venv
reports/
ctst/reports/
ctst/build/
ctst/sorbetctl
ctst/zenko-drctl
