<?xml version="1.0" encoding="UTF-8" ?>
<workload name="workload1" description="Metadata (0 byte objects) sample benchmark for s3">
    <storage type="s3" config="accesskey={{ACCESS_KEY}};secretkey={{SECRET_KEY}};endpoint={{ENDPOINT}};path_style_access=true" />
    <workflow>
        <!-- Initialization: Create 2 buckets -->
        <workstage name="init">
        <work type="init" workers="1" config="containers=r(1,1)" />
        </workstage>

        <!-- Create 0 Byte Objects -->
        <workstage name="prepare">
            <work type="prepare" workers="512" config="containers=r(1,1);objects=r(1,100000);sizes=c(0)MB;" />
        </workstage>

        <!-- Write 0 Byte -->
        <workstage name="write_0B_1T">
            <work name="write_0B_1T" workers="1" runtime="300" division="object">
                <operation type="write" ratio="100" config="sizes=c(0)MB;containers=r(1,1);objects=r(100000,200000);"/>
            </work>
        </workstage>
        <workstage name="write_0B_256T">
            <work name="write_0B_256T" workers="256" runtime="300" division="object">
                <operation type="write" ratio="100" config="sizes=c(0)MB;containers=r(1,1);objects=r(100000,200000);"/>
            </work>
        </workstage>

        <!-- Read 0 Bytes -->
        <workstage name="read_0B_1T">
            <work name="read_0B_1T" workers="1" runtime="300" division="object">
                <operation type="read" ratio="100" config="containers=r(1,1);objects=r(1,100000);"/>
            </work>
        </workstage>
        <workstage name="read_0B_256T">
            <work name="read_0B_256T" workers="256" runtime="300" division="object">
                <operation type="read" ratio="100" config="containers=r(1,1);objects=r(1,100000);"/>
            </work>
        </workstage>

        <!-- Mixed 0B -->
        <workstage name="mixed_0B_1T">
            <work name="mixed_0B_1T" workers="1" runtime="300" division="object">
                <operation type="read" ratio="50" config="containers=r(1,1);objects=r(1,100000);"/>
                <operation type="write" ratio="50" config="sizes=c(0)MB;containers=r(1,1);objects=r(100000,200000);"/>
            </work>
        </workstage>
        <workstage name="mixed_0B_256T">
            <work name="mixed_0B_256T" workers="256" runtime="300" division="object">
                <operation type="read" ratio="50" config="containers=r(1,1);objects=r(1,100000);"/>
                <operation type="write" ratio="50" config="sizes=c(0)MB;containers=r(1,1);objects=r(100000,200000);"/>
            </work>
        </workstage>

        <!-- Clean Up Stage -->
        <workstage name="cleanup">
        <work type="cleanup" workers="512" config="containers=r(1,1);objects=r(1,100000)" />
        <work type="cleanup" workers="512" config="containers=r(1,1);objects=r(100000,200000)" />
        </workstage>

        <!-- Disposal Stage -->
        <workstage name="dispose">
        <work type="dispose" workers="1" config="containers=r(1,1)" />
        </workstage>
    </workflow>
</workload>
