# Default values for cloudserver.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

orbit:
  enabled: true
  endpoint: https://api.zenko.io
  pushEndpoint: https://push.api.zenko.io
  managerMode: push
  workerMode: poll
  storageLimit:
  # This allows you to manage storage limits from Orbit
    enabled: true

# When 'orbit.enabled' is 'true', these aren't used, please use
# https://zenko.io to manage your deployment
endpoint: zenko.local
credentials:
  keyId: deployment-specific-access-key
  secretKey: deployment-specific-secret-key

logging:
   # Options: info, debug, trace
   level: info

allowHealthchecksFrom: '0.0.0.0/0'

env: {}

mongodb:
  replicaSet: rs0
  replicas: 3

# When Orbit is enabled, there will be an additional fully stateless replica
# added which serves as the "manager" for reporting metrics. For example,
# with a "replicaCount: 2" and Orbit management enabled, there would be a
# total of 3 pods deployed (2 worker replicas + 1 manager). 
replicaCount: 2

image:
  repository: zenko/cloudserver
  tag: 8.0.7-RC3
  pullPolicy: IfNotPresent

proxy:
  # If you want to use an HTTP proxy, add the respective endpoints after
  # 'http:' and/or 'https:'. If the HTTP proxy endpoint is set but the HTTPS
  # one isn't, the HTTP proxy will be used for HTTPS traffic as well.
  # Additionally you can pass a CA certifcate that will be added to the trusted
  # certs. If the proxy URL is configured and caCert is true, helm
  # will look for a file named 'ca.crt' at the root path of this chart.
  http: ""
  https: ""
  caCert: false

service:
  type: ClusterIP
  port: 80
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/_/monitoring/metrics"

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  path: /
  # This must match 'endpoint', unless your client supports different
  # hostnames.
  hosts:
    - zenko.local
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

# These default settings are for a "soft" anti affinity scheduling
# where the deployment of replicas will try to be scheduled on different
# nodes in the cluster. This can be customized to user specific values.
# https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
affinity: |
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 5
      podAffinityTerm:
        topologyKey: "kubernetes.io/hostname"
        labelSelector:
          matchLabels:
            app: {{ template "cloudserver.name" . }}
            release: {{ .Release.Name | quote }}

autoscaling:
  enabled: false
  config:
    minReplicas: 1
    maxReplicas: 16
    # Note: when setting this, a `resources.request.cpu` is required. You
    # likely want to set it to `1` or some lower value.
    targetCPUUtilizationPercentage: 80
