/* Styles by chris.tingom@scality.com Hello and thanks for all the fish! */

/* Center Aligns Everything */
div.document {
    background-color: #201921;
    margin: 0px auto 0 auto;
    width: 1180px;
}

/* Background Color */
body {
    background-color: #201921;
    font-family: Roboto, Arial, sans-serif;
}

/* Background Color */
div.document {
    background-color: #201921;
}

/* Background Color */
div.related {
    background-color: #201921;
    line-height: 50px;
    color: #FFFFFF;
}

/* Related items */
div.related li {
    display: none;
}

/* Padding at the top */
div.body {
    margin-top: 0px;
    padding: 34px 40px 20px 40px;
}

/* Link Colors */
a:visited {
    color: #ff9b3b;
    text-decoration: none;
}
a {
    color: #f54f29;
    text-decoration: none;
}

/* Text align left instead of Justify text */
div.body p {
    text-align: left;
}

/* Headline styles */
div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
    font-family: Oswald, Arial Narrow Bold;
    background-color: #FFFFFF;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #ccc;
    margin: 20px -20px 10px 0px;
    padding: 3px 0 3px 0px;
#   text-transform: uppercase;
}

/* Padding on items on left sidebar */
div.sphinxsidebar h3 {
    font-family: Oswald, Arial Narrow Bold;
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0px;
    padding: 10px 0px;
}

/* Changes color of note admonition box */
div.note {
    background-color: #eeeeff;
    border: 1px solid #ff9b3b;
}

/* Changes color of important note box */
div.important {
    background-color: #ffffe0;
    border: 1px solid #ffffe0;
}

/* Changes color of warning note box */
div.warning {
    background-color: #ffc6ba;
    border: 1px solid #ffc6ba;
}

/* Changes the color of the Tip admonition box */
div.note {
    background-color: #eeffee;
}

/* Changes the table header color to be gray */
th {
    background-color: #eaeaea;
}

/* H1 */
div.body h1 {
    margin-top: 0;
    font-size: 222%;
}

/* Width of sidebar content */
div.sphinxsidebarwrapper {
    padding: 10px 10px 0 10px;
}

/* Sidebar margin */
div.sphinxsidebar {
    top: 11px;
}