dependencies:
# Upstream Kubernetes Charts
- name: prometheus
  version: "5.3.1"
  repository: "https://kubernetes-charts.storage.googleapis.com/"
- name: mongodb-replicaset
  version: "2.2.1"
  repository: "https://kubernetes-charts.storage.googleapis.com/"
- name: redis
  version: "1.1.12"
  repository: "https://kubernetes-charts.storage.googleapis.com/"
- name: kafka
  version: "0.7.1"
  repository: "http://storage.googleapis.com/kubernetes-charts-incubator"
  alias: zenko-queue
- name: zookeeper
  version: "1.0.0"
  repository: "http://storage.googleapis.com/kubernetes-charts-incubator"
  alias: zenko-quorum
- name: redis-ha
  version: "2.2.0"
  repository: "https://kubernetes-charts.storage.googleapis.com/"

# Charts managed in this repository
- name: backbeat
  version: "0.1.0"
  repository: "file://../backbeat"
- name: s3-data
  version: "0.1.0"
  repository: "file://../s3-data"
- name: cloudserver-front
  version: "0.1.4"
  repository: "file://../cloudserver-front"
- name: zenko-filer
  version: "0.1.0"
  repository: "file://../zenko-filer"
  condition: zenko-filer.enabled
