{{- if .Values.jabba.enabled -}}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "jabba.fullname" . }}
  labels:
    app: {{ template "jabba.name" . }}
    chart: {{ template "opal.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ template "jabba.replicaFactor" . }}
  selector:
    matchLabels:
      app: {{ template "jabba.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        {{- if .Values.proxy.https }}
        checksum/config: {{ include (print $.Template.BasePath "/certificates.yaml") . | sha256sum }}
        {{- end }}
        {{- if not .Values.global.orbit.enabled }}
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/config: {{ include (print $.Template.BasePath "/accounts.yaml") . | sha256sum }}
        {{- end }}
      labels:
        app: {{ template "jabba.name" . }}
        release: {{ .Release.Name }}
    spec:
      # no offline mode
      {{- if .Values.jabba.image.imagePullSecret }}
      imagePullSecrets:
        - name: {{ .Values.jabba.image.imagePullSecret }}
      {{- end }}
      containers:
        - name: jabba
          image: "{{ .Values.jabba.image.repository }}:{{ .Values.jabba.image.tag }}"
          imagePullPolicy: {{ .Values.jabba.image.pullPolicy }}
          terminationMessagePolicy: FallbackToLogsOnError
          ports:
            - name: http
              containerPort: 443
          env:
  {{- include "jabba.env" . | indent 12 }}
            {{- range $key, $value := .Values.jabba.env }}
            - name: {{ $key | upper | replace "." "_" }}
              value: {{ $value | quote }}
            {{- end }}
          args: ['yarn', 'start']
          livenessProbe:
            tcpSocket:
              port: http
              initialDelaySeconds: 15
              periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /_/healthcheck
              port: http
              initialDelaySeconds: 15
              periodSeconds: 20
          startupProbe:
            tcpSocket:
              port: http
            failureThreshold: 30
            periodSeconds: 20
          volumeMounts:
            {{- if .Values.proxy.caCert }}
            - name: proxy-cert
              mountPath: "/ssl"
              readOnly: true
            {{- end }}
            {{- if .Values.kmip.enabled }}
            - name:  kmip-cert
              mountPath: "/ssl-kmip"
              readOnly: true
            {{- end }}
          resources:
{{ toYaml .Values.jabba.resources | indent 12 }}
    {{- with .Values.jabba.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
      affinity:
{{ tpl .Values.jabba.affinity . | indent 8 }}
    {{- with .Values.jabba.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
{{- if or .Values.proxy.caCert .Values.kmip.enabled -}}
      volumes:
        {{- if .Values.proxy.caCert }}
        - name: proxy-cert
          secret:
            secretName: {{ template "opal.fullname" . }}-proxy-cert
        {{- end }}
        {{- if .Values.kmip.enabled }}
        - name: kmip-cert
          secret:
            secretName: {{ template "opal.fullname" . }}-kmip-cert
        {{- end }}
{{- end }}
{{- end }}
