{{- if .Values.jabba.enabled -}}
{{ if .Values.jabba.ingress.enabled -}}
{{- $root := . -}}
{{- $fullName := include "jabba.fullname" . -}}
{{- $servicePort := .Values.jabba.service.port -}}
{{- $ingressPath := .Values.jabba.ingress.path -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    app: {{ template "jabba.name" . }}
    chart: {{ template "opal.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
{{- with .Values.jabba.ingress.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
spec:
{{- if .Values.jabba.ingress.tls }}
  tls:
  {{- range .Values.jabba.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
  {{- range default ((list .Values.jabba.endpoint) .Values.jabba.ingress.hosts) }}
    - host: {{ . }}
      http:
        paths:
          - path: {{ $ingressPath }}
            backend:
              serviceName: {{ $fullName }}
              servicePort: http
  {{- end }}
{{- end }}
{{- end }}
