/* Embedded fonts */

/* Oswald */
@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald/Oswald-BoldItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald/Oswald-DemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald/Oswald-Demi-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald/Oswald-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald/Oswald-Extra-LightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald/Oswald-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald/Oswald-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald/Oswald-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald/Oswald-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald/Oswald-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Roboto */
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@import url(fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

div.highlight {
    background-color: #E6E6E6;
}

.highlight {
    background-color: #E6E6E6;
}
    
div.document {
    background-color: #201921;
    margin: 0px auto 0 auto;
    width: 1180px;
}

/* Background Color 
body {
    background-color: #201921;
    text-align: left;
  }
*/

div.related {
    background-color: #201921;
    line-height: 50px;
    color: #FFFFFF;
}

/* Related items */
div.related li {
    display: none;
}

/* Padding at the top */
div.body {
    margin-top: 0px;
    padding: 34px 40px 20px 40px;
}

/* Link Colors */
a:visited {
    color: #ff9b3b;
    text-decoration: none;
}

a {
    color: #f54f29;
    text-decoration: none;
}

/* Text align left instead of Justify text */

div.body p {
    text-align: left;
}

/* Headline styles */
div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
    font-family: Oswald, "Arial Narrow", "Helvetica Narrow", sans-serif;
    background-color: #FFFFFF;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid #ccc;
    margin: 20px -20px 10px 0px;
    padding: 3px 0 3px 0px;
}

/* Padding on items on left sidebar */
div.sphinxsidebar h3 {
    font-family: Oswald, "Arial Narrow", "Helvetica Narrow", sans-serif;
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0px;
    padding: 10px 0px;
}

/* Changes color of warning note box */
div.warning {
    background-color: #ff9b3b;
    border: 1px solid #e55529;
}

div.admonition.warning a:visited {
    color: #3F5952;
    text-decoration: none;
}
/* Changes the table header color to be gray */
table.docutils th {
  background-color: #eaeaea;
}

table caption {
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}

/* Width of sidebar content */
div.sphinxsidebarwrapper {
    padding: 10px 10px 0 10px;
    background-color: #201921;
}

/* Sidebar margin */
div.sphinxsidebar {
    top: 11px;
}

div.sphinxsidebar a
  {
  color: '#FFFFFF';
  }

div.sphinxsidebar input
  {
    border: 1px solid '#FFFFFF';
  }

p topless
  {
      color: '#FFFFFF';
      background-color: '#201921';
  }

p.admonition-title
  {
    font-family: 'Oswald';
    display: inline;
  }

div.body dd
  {
    text-align: left;
  }
  
div.body li
  {
    text-align: left;
    margin-left: 1em;
  }

div.body blockquote
  {
    text-align: left;
  }

pre
  {   font-size: 90%;
      font-family: Courier, "Courier New", monospace ; 
/*      margin-left: 18pt;*/
      margin-top: 0pt;
      color: '#000000';
      background-color: '#F2F2F2';
      border-bottom: none;      
      border-top: none;
      border-left: none;
      border-right: none;
  }

strong {
   font-weight: bold;
}

div.strong {
   font-weight: bold;
}

a.reference-internal
  {
    color: '#FFFFFF'
  }


img
  {
    align: center
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

img.FiftyPercent
  {
    max-width: 50%;
  }

img.OneHundredPercent
  {
    max-width: 100%;
  }

img.SeventyFivePercent
  {
    align: center;
    max-width: 75%;
  }

div.footer
  {
    background-color: #201921;
  }

td ul
   {
    margin-left: 1em;
    padding: 0px 0px 0px 0px;
   }

td ul li
   {
    margin-left: 1em;
   }


/* Changes color of note admonition box */
div.note {
    background-color: #eeeeff;
    border: 1px solid #aeaee2;
}

/* Changes color of important note box */
div.important {
    background-color: #ffffe0;
    border: 1px solid #ffdc50;
}

/* Changes the color of the Tip admonition box */
div.tip {
    background-color: #eeffee;
    border: 1px solid #93d893;
}


div.body h1 {
    font-size: 222%;
}

td pre {
    border: none;
    valign: top;
    background-color: e6e6e6;
    margin-top: 0;
}
table.docutils td, table.docutils th {
    border-top: 1px solid #aaa;
}

code {
    font-family: Courier, "Courier New", monospace;
    font-size: 90%;
    background-color: inherit;
   }

ol ol {
    list-style-type: lower-alpha;
   }

