apiVersion: v1
kind: Service
metadata:
  name: {{ template "backbeat.fullname" . }}-api
  labels:
    app: {{ template "backbeat.name" . }}-api
    chart: {{ template "backbeat.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - name: api
      port: 8900
      targetPort: api
      protocol: TCP
  selector:
    app: {{ template "backbeat.name" . }}-api
    release: {{ .Release.Name }}
