ingress:
  enabled: true

prometheus:
  rbac:
    create: false
  serviceAccounts:
    alertmanager:
      name: default
      create: false
    nodeExporter:
      name: default
      create: false
    kubeStateMetrics:
      name: default
      create: false
    pushgateway:
      name: default
      create: false
    server:
      name: default
      create: false

zenko-queue:
  rbac:
    enabled: false

redis-ha:
  rbac:
    create: false
  serviceAccount:
    create: false
    name: default

cloudserver-front:
  image:
    pullPolicy: Always
  orbit:
    endpoint: "http://ciutil-orbit-simulator:4222"
    mode: "poll"

backbeat:
  lifecycle:
    conductor:
      cronRule: "0 */1 * * * *"

grafana:
  rbac:
    create: false
    pspEnabled: false
  serviceAccount:
    create: false
  adminUser: admin
  adminPassword: strongpassword
