ingress:
  enabled: true

maintenance:
  enabled: true
  accessKey: HEYIMAACCESSKEY
  secretKey: loOkAtMEImASecRetKEy123=
  debug:
    enabled: true
  accessKey: HEYIMAACCESSKEY
  secretKey: loOkAtMEImASecRetKEy123=

cosmos:
  ci: true
  storageClass: ci-zenko
  rbac:
    create: false
    namespaced: true

s3-data:
  persistentVolume:
    enabled: false

mongodb-replicaset:
  persistentVolume:
    enabled: false

prometheus:
  rbac:
    create: false
  serviceAccounts:
    alertmanager:
      name: default
      create: false
    nodeExporter:
      name: default
      create: false
    kubeStateMetrics:
      name: default
      create: false
    pushgateway:
      name: default
      create: false
    server:
      name: default
      create: false
  server:
    persistentVolume:
      enabled: false

zenko-queue:
  persistence:
    enabled: false
  rbac:
    enabled: false
  configurationOverrides:
    "offsets.topic.replication.factor": 1 # - replication factor for the offsets topic
    "auto.create.topics.enable": false    # - enable auto creation of topic on the server
    "min.insync.replicas": 1              # - min number of replicas that must acknowledge a write
    "message.max.bytes": "5000000"        # - the largest record batch size allowed
  topics:
    - name: backbeat-gc
      partitions: 1
      replicationFactor: 1
    - name: backbeat-ingestion
      partitions: 1
      replicationFactor: 1
    - name: backbeat-lifecycle-object-tasks
      partitions: 1
      replicationFactor: 1
    - name: backbeat-lifecycle-bucket-tasks
      partitions: 1
      replicationFactor: 1
    - name: backbeat-metrics
      partitions: 1
      replicationFactor: 1
    - name: backbeat-replication
      partitions: 1
      replicationFactor: 1
    - name: backbeat-replication-status
      partitions: 1
      replicationFactor: 1
    - name: backbeat-replication-failed
      partitions: 1
      replicationFactor: 1
    - name: backbeat-sanitycheck
      partitions: 1
      replicationFactor: 1

zenko-quorum:
  persistence:
    enabled: false

redis-ha:
  persistentVolume:
    enabled: false
  rbac:
    create: false
  serviceAccount:
    create: false
    name: default

global:
  orbit:
    endpoint: "http://ciutil-orbit-simulator:4222"
    managerMode: "poll"
    workerMode: "poll"

cloudserver:
  image:
    pullPolicy: Always
  replicaCount: 3
  replicaFactor: 1
  env:
    MPU_TESTING: 'yes'
    PUSH_STATS: 'false'
    CI_CEPH: 'true'
    CI: 'true'
    S3_END_TO_END: 'true'

backbeat:
  logging:
    level: trace
  image:
    repository: zenko/backbeat
    tag: 8.1.4
    pullPolicy: Always
  replication:
    replicaFactor: 2
    retry:
      aws_s3:
        timeoutS: 900
        maxRetries: 5
        backoff:
          min: 2000
          max: 10000
          jitter: 0.1
          factor: 1.5
      azure:
        timeoutS: 900
        maxRetries: 5
        backoff:
          min: 2000
          max: 10000
          jitter: 0.1
          factor: 1.5
      gcp:
        timeoutS: 900
        maxRetries: 5
        backoff:
          min: 2000
          max: 10000
          jitter: 0.1
          factor: 1.5

  lifecycle:
    conductor:
      cronRule: "* * * * *"

grafana:
  persistentVolume:
    enabled: false
  rbac:
    create: false
    pspEnabled: false
  serviceAccount:
    create: false
  adminUser: admin
  adminPassword: strongpassword
