accounts:
  - "zenko"
endpoints: []
locations:
  - name: "${AWS_BACKEND_DESTINATION_LOCATION}"
    locationType: "location-aws-s3-v1"
    legacyAwsBehavior: yes
    details:
      bucketName: "${AWS_CRR_BUCKET_NAME}"
      endpoint: "${AWS_ENDPOINT}"
      accessKey: "${AWS_ACCESS_KEY}"
      secretKey: "${AWS_SECRET_KEY}"
      bucketMatch: no
  - name: "${AWS_BACKEND_SOURCE_LOCATION}"
    locationType: "location-aws-s3-v1"
    details:
      bucketName: "${AWS_BUCKET_NAME}"
      endpoint: "${AWS_ENDPOINT}"
      accessKey: "${AWS_ACCESS_KEY}"
      secretKey: "${AWS_SECRET_KEY}"
      bucketMatch: yes
  - name: "${RING_S3C_BACKEND_SOURCE_LOCATION}"
    locationType: "location-scality-ring-s3-v1"
    details:
      bucketName: "${RING_S3C_INGESTION_SRC_BUCKET_NAME}"
      endpoint: "${RING_S3C_ENDPOINT}"
      accessKey: "${RING_S3C_ACCESS_KEY}"
      secretKey: "${RING_S3C_SECRET_KEY}"
      bucketMatch: yes
workflows:
  replication: []
  lifecycle: []
  ingestion: []
