accounts:
  - "zenko"
endpoints: []
locations:
  - name: "${AWS_BACKEND_DESTINATION_LOCATION}"
    locationType: "location-aws-s3-v1"
    details:
      bucketName: "${AWS_CRR_BUCKET_NAME}"
      endpoint: "${AWS_ENDPOINT}"
      accessKey: "${AWS_ACCESS_KEY}"
      secretKey: "${AWS_SECRET_KEY}"
  - name: "${AZURE_BACKEND_DESTINATION_LOCATION}"
    locationType: "location-azure-v1"
    details:
      bucketName: "${AZURE_CRR_BUCKET_NAME}"
      endpoint: "${AZURE_BACKEND_ENDPOINT}"
      accessKey: "${AZURE_ACCOUNT_NAME}"
      secretKey: "${AZURE_SECRET_KEY}"
workflows:
  replication: []
  lifecycle: []
