accounts:
  - "zenko"
endpoints: []
locations:
  - name: "${AWS_BACKEND_DESTINATION_LOCATION}"
    locationType: "location-aws-s3-v1"
    legacyAwsBehavior: yes
    details:
      bucketName: "${AWS_CRR_BUCKET_NAME}"
      endpoint: "${AWS_ENDPOINT}"
      accessKey: "${AWS_ACCESS_KEY}"
      secretKey: "${AWS_SECRET_KEY}"
      bucketMatch: no
      repoId: []
  - name: "${AWS_BACKEND_SOURCE_LOCATION}"
    locationType: "location-aws-s3-v1"
    details:
      bucketName: "${AWS_BUCKET_NAME}"
      endpoint: "${AWS_ENDPOINT}"
      accessKey: "${AWS_ACCESS_KEY}"
      secretKey: "${AWS_SECRET_KEY}"
      bucketMatch: yes
      repoId: []
  - name: "${RING_S3C_BACKEND_SOURCE_LOCATION}"
    locationType: "location-scality-ring-s3-v1"
    details:
      bucketName: "${RING_S3C_INGESTION_SRC_BUCKET_NAME}"
      endpoint: "${RING_S3C_ENDPOINT}"
      accessKey: "${RING_S3C_ACCESS_KEY}"
      secretKey: "${RING_S3C_SECRET_KEY}"
      bucketMatch: yes
      repoId: []
  - name: "${COLD_BACKEND_DESTINATION_LOCATION}"
    locationType: "location-dmf-v1"
    isCold: true
    details:
      endpoint: "ws://mock-sorbet:5001/session"
      username: "user1"
      password: "pass1"
      repoId:
        - 233aead6-1d7b-4647-a7cf-0d3280b5d1d7
        - 81e78de8-df11-4acd-8ad1-577ff05a68db
      nsId: 65f9fd61-42fe-4a68-9ac0-6ba25311cc85
workflows:
  replication: []
  lifecycle: []
  ingestion: []
