asn1crypto==1.5.1
azure-storage-blob==12.22.0
blinker==1.8.2
boto3==1.35.7
botocore==1.35.7
bravado==11.0.3
bravado-core==6.1.1
brotlipy==0.7.0
certifi==2024.7.4
cffi==1.17.0
chardet==5.2.0
click==8.1.7
cryptography==43.0.1
docutils==0.21.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.8
jmespath==1.0.1
jsonschema==4.23.0
kaitaistruct==0.10
kubernetes==30.1.0
ldap3==2.9.1
mitmproxy==10.4.2
passlib==1.7.4
Pipewrench==0.2.4
pyasn1==0.6.0
pycparser==2.22
PyJWT==2.9.0
pyOpenSSL==24.2.1
pyparsing==3.1.2
pyperclip==1.9.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
redis==5.0.8
requests==2.32.3
ruamel.yaml==0.18.6
s3transfer==0.10.2
six==1.16.0
sortedcontainers==2.4.0
tornado==6.4.1
urllib3==2.2.2
urwid==2.6.15
wsproto==1.2.0
azure-storage-queue==12.6.0