{{- if .Values.persistentVolume.enabled }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ template "cosmos.fullname" . }}
  labels:
    app: {{ template "cosmos.name" . }}
    chart: {{ template "cosmos.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: {{ .Values.persistentVolume.size }}
{{ toYaml .Values.persistentVolume.volumeConfig | indent 2 }}
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ template "cosmos.fullname" . }}
{{- end }}
