apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ template "cosmos.rclone.fullname" . }}
  labels:
    component: rclone
{{ include "cosmos.labels" . | indent 4 }}
spec:
  suspend: {{ .Values.rclone.suspend }}
  schedule: {{ .Values.rclone.schedule | quote }}
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: {{ .Values.rclone.successfulJobsHistory }}
  failedJobsHistoryLimit: 3
  jobTemplate:
    backoffLimit: 1
    spec:
      template:
        metadata:
          labels:
            component: rclone
{{ include "cosmos.labels" . | indent 12 }}
        spec:
{{- template "cosmos.rclone.job" . }}
{{- define "cosmos.rclone.job" }}
          restartPolicy: OnFailure
          containers:
          - name: {{ .Chart.Name }}
            image: "{{ .Values.rclone.image.repository }}:{{ .Values.rclone.image.tag }}"
            imagePullPolicy: {{ .Values.rclone.image.pullPolicy }}
            env:
              - name: MOUNT_PATH
                value: /data
              - name: AWS_ACCESS_KEY_ID
                valueFrom:
                  secretKeyRef:
                    name: {{ template "cosmos.rclone.secret.name" . }}
                    key: accessKey
              - name: AWS_SECRET_ACCESS_KEY
                valueFrom:
                  secretKeyRef:
                    name: {{ template "cosmos.rclone.secret.name" . }}
                    key: secretKey
            command:
              - sh
              - -c
              - "exec rclone sync . cloudserver:{{ template "cosmos.bucket" . }} --s3-region {{ .Values.rclone.remote.region }} -v --md-only"
            volumeMounts:
              - name: rclone-config
                mountPath: /root/.config/rclone
              - name: backend-storage
                mountPath: /data
          volumes:
          - name: rclone-config
            configMap:
              name: {{ template "cosmos.rclone.fullname" . }}
          - name: backend-storage
{{- if .Values.persistentVolume.enabled }}
            persistentVolumeClaim:
              claimName: {{ default (include "cosmos.fullname" .) .Values.persistentVolume.existingClaim }}
{{- else }}
            emptyDir: {}
{{- end }}
{{- end -}}
{{- if .Values.rclone.initialIngestion }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "cosmos.rclone.fullname" . }}-initial-ingest
  labels:
    component: rclone
{{ include "cosmos.labels" . | indent 4 }}
spec:
  template:
    metadata:
      labels:
        component: rclone
{{ include "cosmos.labels" . | indent 8 }}
    spec:
{{- template "cosmos.rclone.job" . }}
{{- end }}
