---
name: release
run-name: Release ${{ inputs.tag }}

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        required: true
      artifacts-name:
        description: 'Artifacts name to promote'
        required: true

jobs:
  verify-release:
    name: Verify if tag is valid
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Fetch tags
        run: git fetch --tags

      - name: 'Check if tag was already created'
        shell: bash
        run: >
          git show-ref --tags v${{ github.event.inputs.tag }} --quiet \
          && exit 1 || exit 0

  release:
    name: Release
    runs-on: ubuntu-20.04
    needs:
      - verify-release
    steps:
      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Release ${{ github.event.inputs.tag }}
          tag_name: ${{ github.event.inputs.tag }}
          generate_release_notes: true
          target_commitish: ${{ github.sha }}

  promote:
    runs-on: ubuntu-20.04
    needs:
      - verify-release
      - release
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Promote artifacts
      uses: scality/action-artifacts@v3
      with:
        method: promote
        name: ${{ github.event.inputs.artifacts-name }}
        tag: ${{ github.event.inputs.tag }}
        url: https://artifacts.scality.net
        user: ${{ secrets.ARTIFACTS_USER }}
        password: ${{ secrets.ARTIFACTS_PASSWORD }}
